{% extends 'base.html.twig' %}

{% block body %}
	<section class="relative w-full pt-[88px] h-screen flex flex-col items-center justify-center overflow-hidden bg-primary" x-data="{
			            activeSlide: 0,
			            slides: [
			                '/images/home-hero/photo-oxford.jpg',
			                '/images/home-hero/photo-aviation.jpg',
			                '/images/home-hero/photo-hotel.jpg',
			                '/images/home-hero/photo-conversation.jpg'
			            ],
			            init() {
			                setInterval(() => {
			                    this.activeSlide = (this.activeSlide + 1) % this.slides.length;
			                }, 5000);
			            }
			         }">

	</section>


{% endblock %}
